<section>
  <div class="fixed-action-btn click-to-toggle">
    <a class="btn-floating btn-large red pulse">
      <i class="fa fa-share-alt-square" aria-hidden="true"></i>
    </a>
    <ul>
      <li><a target="_blank" href="tel:1132949062" class="btn-floating grey"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
      <li><a target="_blank" href="tel:11983279599" class="btn-floating green"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
      <li><a target="_blank" href="mailto:contatomaodeouro@gmail.com" class="btn-floating grey"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
            <li><a target="_blank" href="https://www.facebook.com/salaomaodeouro/" class="btn-floating blue"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <!-- <li><a target="_blank" href="https://www.linkedin.com/in/paulo-felipe-souza-72ba5ab4/" class="btn-floating red"><i class="fa fa-instagram" aria-hidden="true"></i></a></li> -->
    </ul>
  </div>

  <header class="color-1">
    <ul id="slide-out" class="side-nav cl-effect-15">
      <li><a class="waves-effect" ng-href="#sobre">Sobre Nós</a></li>
      <li><a class="waves-effect" ng-href="#portfolio">Trabalhos</a></li>
      <li><a class="waves-effect" ng-href="#contato">Contato</a></li>
    </ul>
    <div class="navbar-fixed">
      <nav class="">
        <div class="nav-wrapper white">
          <a ng-href="#home" class="brand-logo black-text"><img src="imagens/logo_inteiro_transparente.png"></a>
          <a data-activates="slide-out" class="btn white hide-on-large-only"><i class="material-icons icon-black">menu</i></a>
          <ul id="nav-mobile" class="cl-effect-15 right hide-on-med-and-down">
            <li><a ng-href="#sobre">Sobre</a></li>
            <li><a ng-href="#portfolio">Trabalhos</a></li>
            <li><a ng-href="#contato">Contato</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>


  <section id="home" class="home_class screen_div section scrollspy">
    <video class="responsive-video" id="bgvid" playsinline autoplay muted loop>
      <source src="video/salao_mao_de_ouro.mp4" type="video/mp4">
      </video>
    </section>


    <section id="sobre" class="section scrollspy">
      <div class="row">
        <div class="col s12">
          <div class="col m4 s12">
            <img src="imagens/logo_cortado_transparente.png">
          </div>
          <div class="col m8 s12">
            <div id="content-sobre">
              <h3 class="center">Salão de Beleza Mão de Ouro</h3>
              <article>
                É composto pelos mais competentes profissionais de São Paulo.
                No nosso salão de beleza você será tratada como a diva que você é. Nossa equipe foi treinada não somente para torná-la linda externamente, mas para ajudá-la a sentir-se linda e confiante em seus próprios atributos.
                Nossa maior satisfação é ver nossos clientes deixarem o nosso estabelecimento com um belo sorriso no rosto e o brilho de quem sabe-se e sente-se especial.
                Visite-nos e deixe-nos ajudá-la a brilhar e encantar a todos que cruzem o seu caminho.
                Não deixe de nos contatar para que possamos saber em que podemos ajudá-la.
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="portfolio" class="section scrollspy">
      <div id="content-sobre">
        <h3 class="center">Alguns dos nossos trabalhos</h3>
        <div class="carousel">
          <a class="carousel-item"><img class="responsive-img materialboxed" src="imagens/foto_cliente_2.jpg"></a>
          <a class="carousel-item"><img class="responsive-img materialboxed" src="imagens/foto_cliente_3.jpg"></a>
          <a class="carousel-item"><img class="responsive-img materialboxed" src="imagens/foto_cliente_1.jpg"></a>
          <a class="carousel-item"><img class="responsive-img materialboxed" src="imagens/foto_cliente_4.jpg"></a>
          <a class="carousel-item"><img class="responsive-img materialboxed" src="imagens/foto_cliente_6.jpg"></a>
        </div>
      </div>
    </section>


  <section id="contato" class="section scrollspy">
    <div>
      <h3 class="center">Contato</h3>
      <div class="row">
        <div class="col s12">
          <div class="card col m10 offset-m1">
            <div class="card-content col s12">
              <div class="col offset-s2 offset-m3 l3 m12 s12 align-center" id="contato-content">
                <a href="tel:1132949062" class="fa fa-phone black-text"></a>
                <p><a href="tel:1132949062" class="black-text">(11) 3294-9062</a></p>
              </div>
              <div class="col offset-s2 offset-m3 l3 m12 s12" id="contato-content">
                <a href="tel:11983279599" class="fa fa-whatsapp black-text"></a>
                <p><a href="tel:11983279599" class="black-text">(11) 98327-9599</a></p>
              </div>
              <div class="col offset-s2 offset-m3 l3 m12 s12" id="contato-content">
                <a href="tel:11968954188" class="fa fa-mobile black-text"></a>
                <p><a href="tel:11983279599" class="black-text">(11) 96895-4188</a></p>
              </div>
              <div class="col offset-s2 offset-m3 l3 m12 s12 align-center" id="contato-content">
                <a href="p.felipe@msn.com" class="fa fa-envelope black-text"></a>
                <p><a href="mailto:contatomaodeouro@gmail.com" class="black-text">contatomaodeouro@gmail.com</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col l6 m12 s12">
            <p class="card-title black-text center font-assunt">Mande uma mensagem para nós, teremos o prazer em respondê-lo</p><br>
            <form class="col s12">
              <div class="row">
                <div class="input-field col xl6 m12 s12">
                  <input ng-model="dados.primeiro_nome" id="first_name" type="text" class="validate black-text">
                  <label for="first_name">Primeiro Nome</label>
                </div>
                <div class="input-field col xl6 m12 s12">
                  <input ng-model="dados.ultimo_nome" id="last_name" type="text" class="validate black-text">
                  <label for="last_name">Último nome</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input ng-model="dados.telefone" id="tel" type="tel" class="validate black-text">
                  <label for="tel">Telefone</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input ng-model="dados.email" id="email" type="email" class="validate black-text">
                  <label for="email">E-mail</label>
                </div>
              </div>
              <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      <textarea ng-model="dados.assunto" id="matter" class="materialize-textarea black-text"></textarea>
                      <label for="matter">Assunto da Mensagem</label>
                    </div>
                  </div>
                </form>
                <div class="button">
                  <button ng-disabled="!(dados.primeiro_nome && dados.ultimo_nome && dados.telefone && dados.email && dados.assunto)" ng-click="enviar()" class="btn button-active grey">Enviar</button>
                </div>
              </div>
            </form>
          </div>

          <div class="col l6 m12 s12">
            <p class="card-title black-text center font-assunt">Nossa localização</p><br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3655.4191380428524!2d-46.686627584969614!3d-23.62515616983652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce50967e77571d%3A0x9f13c66e19d83f8a!2sSal%C3%A3o+de+Beleza+M%C3%A3o+de+Ouro!5e0!3m2!1spt-BR!2sbr!4v1511639190985" width="100%" height="480" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>

  </section>

  <script>
  $(document).ready(function(){
    $('.carousel').carousel({
      duration: 200
    });
    $('.scrollspy').scrollSpy({
      scrollOffset: 0
    });
    $(".btn").sideNav({
      menuWidth:250
    });
    $('.slider').slider({});
    $('.materialboxed').materialbox();
  });
  </script>

</section>
